.container{
    width: 90vw;
    min-height: 50vh;
    box-shadow: 0 20px 9px -43px rgba(0,0,0,0.6);
    border: 1px solid white;
    border-radius: 15px;
    display: flex;
    overflow: hidden;
    background-color: whitesmoke;
}

.left{
    flex: 1;
}
.ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: .5rem;
}
.left .ul{
    font-weight: lighter;
}
.li, .logout{
    padding: 1rem;
    display: flex;
    align-items: center;
    gap : 10px;
    color: slategray;
    font-weight: 300;
}
.logout{
    margin: 7.5rem 1.5rem 1.5rem 1.5rem;
}

.li:hover, .logout:hover{
    border-radius: 10px;
    background-color: dodgerblue;
    color: white;
    cursor: pointer;
}

.mid{
    flex: 4;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: -10px 0 59px -55px rgba(0,0,0,0.55);
    background-color: white;

    display: flex;
    flex-direction: column;
    gap: 20px;
}
.hero{
    padding: 1rem;
    max-height: 160px;
}
.hero{
    display: flex;
    gap: 20px;
}
.hero img{
    height: 160px;
    width: auto;
    border-radius: 10%;
}
.label{
    font-size: .7rem;
    background-color: #0ebf01;
    color: white;
    padding: .2rem .4rem;
    font-weight: 300;
}
.name{
    font-size: 1.65rem;
    margin: 10px 0;
}
.infos{
    font-size: .75rem;
    color: grey;
    font-weight: 300;

    display: flex;
    flex-wrap: wrap;
    gap: 5px 1rem;
    margin-bottom: 10px;
}
.infos span{
    color: black;
    font-weight: normal;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 20px;
}

.h2{
    font-size: 1.4rem;
}

.head{
    display: flex;
    justify-content: space-evenly;
}
.right{
    flex: 2;
    background-color: indianred;
}